<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.5.9" targetFramework="net40" />
  <package id="AngularJS.Route" version="1.5.9" targetFramework="net40" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="1.9.9" targetFramework="net40" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.1.9" targetFramework="net40" />
  <package id="Microsoft.TypeScript.MSBuild" version="1.8.6" targetFramework="net40" developmentDependency="true" />
  <package id="ng-dialog.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="net40" />
</packages>